@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

table th, table td {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, .75);
  font-size: 14px;
}

form > div {
  width: 40%;
  margin: 0 auto;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
  width: 100%;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}

button:hover {
  color: #222;
}

*:focus {
  outline: none;
}